body {
  margin: 0;
  padding: 0;
  font-family: 'Gugi', cursive;
  background-color: #fefefe;
}

h1,h2,h3,h4 {
  font-family: 'Rubik', sans-serif;
  color:#1d1d1d;
}

h1{
  font-weight: 500;
}

h2{
  font-weight: 400;
}

h3{
  font-weight: 300;
}

p {
  color:#bbb;
}

.self-photo{
  border-radius: 50%;
}

.skill_set{
  margin-top: 100px;
  width: 40%;
  margin: auto;
}

@media only screen and (max-width: 500px) {
    .skill_set {
        width: 100% !important;
        margin-left: 10px !important;
        max-width: 300px !important;
        margin-right: 0px !important
    }
    .title{
      padding-top: 150px !important;
      margin-top: 0px !important;
    }
    .skill_box:first-child{
      margin-top: -50px !important;
    }

    img{
      width: 60px;
    }
}

.skill_box{
  display:flex;
  justify-content:space-between;
  margin-top:100px;
}

.skill_box:first-child{
  margin-top:30px;
}

.footer{
  margin-top: 100px;
  text-align: center;
  width: 100%;

}

.text_box{
  display: block;
  padding-left: 10%;
  font-size: 16px;
  width:95%;
  color:#666;
  text-align: left;
  line-height: 40px;
}

.title{
  font-size:18px;
  text-align:left;
  padding-left: 10%;
  margin-top: 120px;

}

input{
  width: 200px;
}
